<template name="postSubmit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="url">URL</label>
			<div class="controls">
				<input name="url" type="text" value="" placeholder="Your damn URL"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="title">TITTLES</label>
			<div class="controls">
				<input name="title" type="text" value="" placeholder="Name of your dog"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="message">MESSAGE</label>
			<div class="controls">
				<textarea name="message" type="text" placeholder="leave a lovely message" value=""/>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</div>
	</form>
</template>